@inherits LayoutComponentBase
 
<RadzenComponents />
<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>

<RadzenLayout style="position: relative">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="Header" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" @bind-Expanded="@sidebarExpanded" style="position: absolute">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" Click=@(() => sidebarExpanded = false) />
            <RadzenPanelMenuItem Text="Adressen" Icon="account_box" Path="addresses" Click=@(() => sidebarExpanded = false) />
            <RadzenPanelMenuItem Text="Ritten lijst" Icon="account_box" Path="TripList" Click=@(() => sidebarExpanded = false) />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-0 rz-p-sm-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        CRR by Chunkk
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = false;
}